html,
body,
div,
span,
h1,
h2,
h3,
p,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    padding: 20px;
    width: 600px;
}

*,
:before,
:after {
    box-sizing: border-box;
}

.asset-form {
    display: flex;
    flex-direction: column;
}

.assets-list {
    padding-top: 20px;
}

.assets-list-item {
    cursor: pointer;
}

.assets-header {
    display: flex;
    padding-bottom: 20px;
}

.assets-header-input {
    display: flex;
    justify-content: space-between;
}

.assets-header-input > input {
    width: 20%;
}

.assets-suggest-list {
    max-height: 200px;
    overflow-y: auto;
}

.assets-suggest-list-item {
    align-items: center;
    cursor: pointer;
}

.assets-header-button {
    width: 25%;
    margin-left: 5px;
}

.buy-asset-notification {
    position: absolute;
    left: -100px;
    z-index: 99;
}

.slide-in-out {
    animation: slide 5s forwards;
}

@keyframes slide {
    30% {
        left: 100px;
    }
    70% {
        left: 150px;
    }
    100% {
        left: -100px;
    }
}
